@charset utf-8;

.btn-side{
  display: inline-block;
  vertical-align: top;
}

.panel{

  margin: 10px auto 0px auto;


}

.no-vaz{

  height: 6em;
  overflow:hidden;


}


@media screen and (max-width: 700px) {
    body, h3 {
      font-size: 200%;

    }

    .btn   {padding: 18px 28px;
      font-size: 180%;}
}
